.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-content {
  margin-left: 20px;
}
.flex-row {
display: flex;
align-items: center; /* 垂直居中 */
padding: 20px;
/* 可选：添加背景颜色或其他样式 */
}

.image-container {
margin-right: 20px; /* 控制图片和文字之间的间距 */
}

.image-container img {
max-width: 100%;
height: auto;
display: block;
}

.text-container {
/* 根据需要添加文字样式 */
}
