.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}
.flex-container {
  display: flex;
  align-items: center;
}
.flex-content {
  margin-left: 20px;
}
.main-box {
	border-top:5px solid #eaeaea;
	background:#fff;
	width:100%;
}
.container {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	font-size: 0.8125em;
}
.inside{ padding: 32px 37px 50px 37px; }
.wrapper { 
	width:100%;
	overflow:hidden;
}
.team-list li {
	width:100%;
	overflow:hidden;
	padding-bottom:15px;
}
.team-list li:last-child {
	padding-bottom:0;
}
.team-list li figure {
    float:left;
    margin:0 20px 0 0;
    padding:0;
}
